<div id="container_index">
    <div id="toggle_types">
        <p class="grid_title">Type Filters</p>
        <div class="toggleWrapper">
            <div class="type_grid">
                <% theTypes.forEach(type=>{ %>
                    <% let active = (theValidTypes.includes(type.name) ? 'active' : 'inactive') %> 
                    <div class="type <%=active%>" onclick="location.href='/pokemon/filter/theValidTypes/<%= type.name %>';">
                        <p><%= type.title %></p>
                    </div>
                <% }) %> 
            </div>
        </div>
    </div>
    <div id="display_pokemon">
        <% allPokemon.forEach(pokemon => { %>
            <% let collected = (pokemonList.includes(pokemon.name) ? "collected" : "not_collected")  %> 
            <div class="pokeCard <%= collected %>" onclick="location.href='/pokemon/<%= pokemon.number %>';">
                <span style="position: relative;">
                    <img src="<%= pokemon.sprite %>" alt="<%= pokemon.title %>">
                    <% if (pokemonList.includes(pokemon.name)) { %> 
                        <img src="/assets/pokeball.png" class="collected" alt="collected">
                    <% } %>
                </span>
                <p><%= pokemon.title %></p>
                <p><%= pokemon.number %></p>
            </div>
        <% }); %> 
    </div>
    <div id="toggle_games">
        <p class="grid_title">Game Filters</p>
        <div class="game_grid">
            <% theGames.forEach(game=>{ %>
                <% let active = (theValidGames.includes(game.name) ? 'active' : 'inactive') %> 
                <div class="game <%=active%>" onclick="location.href='/pokemon/filter/theValidGames/<%= game.name %>';">
                    <p><%= game.title ? game.title : game.name %></p>
                </div>
            <% }) %>
        </div>

    </div>
</div>






