<%  // declarations and logic

%> 


<div id="container_index">
    <div id="toggle_types">
        <% theTypes.forEach(type=>{ %>
            <% let active = (theValidTypes.includes(type.name) ? 'active' : 'inactive') %> 
            <div class="type <%=active%>">
                <a href="/pokemon/filter/theValidTypes/<%= type.name %>"><%= type.title %></a>
            </div>
        <% }) %> 
    </div>
    <div id="display_pokemon">
        <% allPokemon.forEach(pokemon => { %>
            <% let collected = (pokemonList.includes(pokemon.name) ? "collected" : "not_collected")  %> 
            <div class="pokeCard <%= collected %>">
                <img src="<%= pokemon.sprite %>" alt="<%= pokemon.title %>">
                <!-- <% if (pokemonList.includes(pokemon.name)) { %> 
                    <img src="../../public/assets/pokeball.png" class="collected" alt="collected">
                <% } %> -->
                <a href="/pokemon/<%= pokemon.number %>"><%= pokemon.title %></a>
                <p><%= pokemon.number %></p>
            </div>
        <% }); %> 
    </div>
    <div id="toggle_games">
        <% theGames.forEach(game=>{ %>
            <% let active = (theValidGames.includes(game.name) ? 'active' : 'inactive') %> 
            <div class="game <%=active%>">
                <a href="/pokemon/filter/theValidGames/<%= game.name %>"><%= game.title ? game.title : game.name %></a>
            </div>
        <% }) %>
        <div class="game active">
            <% if(collection){ %> 
            <a href="/pokemon">All Pokemon</a>
            <% } else { %> 
            <a href="/pokemon/collection">My Collection</a>
            <% } %> 
        </div>
    </div>
</div>






