<%  // declarations and logic
    let typeString = (thePokemon.types.length>1 ? 
        thePokemon.types.reduce((a,b)=>{return a.title+', '+b.title;}) 
        : thePokemon.types[0].title);
    let theValidTypes = [];
    thePokemon.types.forEach(type=>theValidTypes.push(type.name))
    let theValidGames = [];
    thePokemon.games.forEach(game=>theValidGames.push(game.name));
%>
<div id="container_show">
    <div id="toggle_types">
        <p class="grid_title">Type Filters</p>
        <div class="toggleWrapper">
            <div class="type_grid">
                <% theTypes.forEach(type=>{ %>
                    <% let active = (theValidTypes.includes(type.name) ? 'active' : 'inactive') %> 
                    <div class="type <%=active%>" onclick="location.href='/pokemon/filter/theValidTypes/<%= type.name %>';">
                        <p><%= type.title %></p>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    <div id="show_pokemon">
        <div id="favorite">
            <% if (collectionStatus) { %>
                <form action="/pokemon/?_method=DELETE" method="POST">
                    <input type="hidden" name="pokemonName" value="<%= thePokemon.name %>">
                    <button type="submit">Remove from Collection</button>
                </form>
            <% } else { %>
                <form action="/pokemon" method="POST">
                    <input type="hidden" name="pokemonName" value="<%= thePokemon.name %>">
                    <button type="submit">Add to Collection</button>
                </form>
            <% } %>
            <form action="/pokemon/?_method=PUT" method="POST">
                <input type="hidden" name="sprite" value="<%= thePokemon.sprite %>">
                <button type="submit">Make Profile Picture</button>
            </form>
        </div>
        <div id="pokemon_pic">
            <img src="<%= thePokemon.sprite %>" alt="<%= thePokemon.name %> sprite" class="pokemon_image">
        </div>
        <div id="evolutions">
            <% if(lastForm) {%>
                <div class="lastForm">
                    <ul>
                        <li><a href="/pokemon/<%= lastForm.number %>">Evolves from <%= lastForm.title %></a></li>
                    </ul>
                </div>
            <% } %>
            <% if(nextForms) {%>
                <div class="nextForm">
                    <ul>
                        <% nextForms.forEach(entry=>{ %>
                            <li><a href="/pokemon/<%= entry.number %>">Can evolve to <%= entry.title %></a></li>
                        <% }) %> 
                    </ul>
                </div>
            <% } %>
        </div>
        <div id="primary">
            <h1><%= thePokemon.title %> - <%= thePokemon.number %></h1>
        </div>
        <div id="info">
            <div class="stats">
                <ul>
                    <li>HP: <%= thePokemon.hp %></li>
                    <li>Attack: <%= thePokemon.attack %></li>
                    <li>Defense: <%= thePokemon.defense %></li>
                    <li>Special Attack: <%= thePokemon.specialAttack %></li>
                    <li>Special Defense: <%= thePokemon.specialDefense %></li>
                    <li>Speed: <%= thePokemon.speed %></li>
                </ul>
            </div>
            <div class="physical">
                <ul>
                    <li>Height: <%= thePokemon.height %></li>
                    <li>Weight: <%= thePokemon.weight %></li>
                    <li>Types:  <%= typeString %></li>
                </ul>
            </div>
        </div>
        <div id="moves">
            <h3>Basic Moves:</h3>
            <ul>
                <% thePokemon.moves.forEach(move=>{ %>
                    <li><%= move.title %> pp: <%= move.pp %></li>
                <% }) %> 
            </ul>
        </div>
        <div id="description">
            <p><%= thePokemon.flavorText %></p>
        </div>
    </div>
    <div id="toggle_games">
        <p class="grid_title">Game Filters</p>
        <div class="game_grid">
            <% theGames.forEach(game=>{ %>
                <% let active = (theValidGames.includes(game.name) ? 'active' : 'inactive') %> 
                <div class="game <%=active%>" onclick="location.href='/pokemon/filter/theValidGames/<%= game.name %>';">
                    <p><%= game.title ? game.title : game.name %></p>
                </div>
            <% }) %>
        </div>
    </div>
</div>
