<div class="show moves">
    <div class="info primary">
        <p><%= theMove.title %></p>
    </div>
    <div class="info secondary">
        <ul>
            <li>Accuracy: <%= theMove.accuracy %></li>
            <li>Power: <%= theMove.power %></li>
            <li>PP: <%= theMove.pp %></li>
            <li>Description: <%= theMove.description %></li>
        </ul>
    </div>
</div>